NODE_ENV=development
PORT=3001
JWT_PASSPHRASE=SECRET
BCRYPT_SALT=5

MYSQL_DB_HOST="127.0.0.1"
MYSQL_DB_USERNAME="root"
MYSQL_DB_PASSWORD="webexpert"
MYSQL_DB_NAME="futurepia_db"

FUTUREPIA_API_URL="http://testnet.futurepia.io:3030"
FUTUREPIA_ADMIN_USERNAME="digvijaywebiqon"
FUTUREPIA_ADMIN_PASSWORD="@Digvijay92"

#ETHEREUM_NODE_URL="https://ropsten.infura.io/v3/84e2b94042f24cc9b111b886f9ea4c28"
ETHEREUM_NODE_URL="http://localhost:7545"
DEFAULT_ACCOUNT="0xd4E83cB4b7776bF4A6D727c03555E12aE7330eE1"
GAS=3600000
GAS_PRICE=20000000000
GAS_LOW=110000